/* CSS Document */

body {
	background: linear-gradient(to left, #FFC0CB, #FFFFFF);
}

.Portfolio.html {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

/* HOME */
#animated_text {
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
	left: 35%;
	font-size: 20px;
	top: 40px;
	z-index: 2;
}

.SubText_Font {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Portfolio Image */
.header-name {
	max-width: 500px;
	position: relative;
	margin: auto;
	padding-top: 5px;
	z-index: 2;
}

/* About Image */
.about-name {
	position: relative;
	margin: auto;
	padding-top: 80px;
	text-align: center;
}

/* About Subheading */
.about-subheading {
	position: relative;
	margin: auto;
	text-align: center;
	font-family: "futura-pt", sans-serif;
	color: #453C7C;
	font-weight: bold;
	font-size: 18px;
}

/* Nav Bar */
.Container {
    background-color: #FFFFFF;
    height: 100px;
	display: flex; 
	/*justify-content: space-evenly;*/
	/*align-items: center;*/ /*can use baseline to align text*/
	justify-content: center;
	font-family:"futura-pt", sans-serif;
	font-weight: 500;
	flex-wrap: wrap;
	align-content: center;
	border-radius: 20px;
	gap: 20px;
	z-index: 10;
	margin-top: 10px;
	width: 100%;
}

/* Navigation Bar Naming */
.item {
	height: 50px;
	width: 150px;
	border-radius: 25px;
	background-color: #C1272D; 
	text-align: center;
	color: #FFFFFF;
	padding-top: 15px;
	transition: background-color 0.3 ease;
}

.item:hover {
  background-color: #FF7BAC; /* Change to your desired color */
}

.name-container {
	position: relative;
	text-align: center;
	justify-content: center;
	z-index: 2;
	top: 1px;
}
/* Sanya Sharma */
.name_button {
	width: 160px;
	height: 30px;
	background-color: #F7931E;
	border-radius: 200px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;
	border: none;
	position: relative;
}

/* ABOUT */

/* About_Picture Rects */
.about-rectangle {
	display: flex;
	position: absolute;
	align-content: center;
	justify-content: center;
	padding-top: 37px;
	width: 300px;
	height: 300px;
	margin-top: 100px;
	background-color: #FFFFFF;
	float: left;
	border: 2px solid;
	border-color: #453C7C;
	box-shadow: 20px 20px #453C7C;
	left: 20%;
	z-index: -1;
}

/* About_Picture (Front) */
.about-portrait {
	position: relative;
	z-index: 1;
	left: 25%;
	top: 20px;
}

/* Info-Rect */
.about-info {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative; 
  left: 50%; 
  background-color: #453C7C;
  width: 450px; 
  height: 305px;
  top: 120px;
}

.info-item {
  font-family: "futura-pt", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  margin: 12px;
}

/* Social Media Links */
.social-media {
	display: flex;
    justify-content: center;
    align-content: center;
    background-color: none;
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    height: 80px;
	margin-top: 10px;
	text-align: center;
}

.linkedin,
.facebook,
.instagram {
	width: 12%;
	margin: 50px;
}

/* Resume Years */
.about-year {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 1px;
	color: #453C7C;
	font-family: "futura-pt", sans-serif;
	font-weight: 400px;
	font-style: normal;
	background-color: #FFFFFF;
	left: 25%;
}


/* Resume Education */

.about-me-edu-container {
	display: flex;
	position: relative;
	align-content: center;
	left: 20%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: 230px;
}

.about-resume-header {
	font-family: "futura-pt-bold", sans-serif;
	color: #453C7C;
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-bottom: 20px;

}

.about-resume-title {
	font-family: "futura-pt", sans-serif;
	color: #453C7C;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	margin-bottom: 10px;

}

.about-resume-subheading {
	font-family: "futura-pt", sans-serif;
	color: #453C7C;
	position: relative;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 10px;
	
}

.about-resume-deck {
	font-family: "futura-pt", sans-serif;
	color: #453C7C;
	position: relative;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 20px;
}

/*Experience*/
.about-me-exp-container {
	display: flex;
	position: relative;
	align-content: center;
	left: 20%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: 300px;
}

/*Technical Skills*/
.about-me-tech-container {
	display: flex;
	position: relative;
	align-content: center;
	align-items: flex-start;
	left: 50%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: -1085px;
}

.about-resume-tech-header {
	font-family: "futura-pt-bold", sans-serif;
	color: #453C7C;
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
	position: relative;
}

.about-resume-tech-subhead {
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #453C7C;
	margin-bottom: 30px;
}

/*Technical Images*/
.about-resume-tech-photo {
	display: flex;
	align-items: center;
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-size: 12px;
	color: #453C7C;
	font-weight: 600;
}

.about-resume-tech-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	margin-top: 10px;
}

.about-resume-tech-details img {
	position: relative;
	width: 70%;
	margin: 10px;
	top: -10px;
}

.about-resume-deck-one {
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #453C7C;
	margin: 10px;
}

.about-resume-tech-ilstr {
	display: flex;
	align-items: center;
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-size: 12px;
	color: #453C7C;
	font-weight: 600;
}

.about-resume-tech-indes {
	display: flex;
	align-items: center;
	position: relative;
	font-family: "futura-pt", sans-serif;
	font-size: 12px;
	color: #453C7C;
	font-weight: 600;
}

.about-resume-tech-dream {
	display: flex;
	align-items: center;
  	position: relative;
  	font-family: "futura-pt", sans-serif;
  	font-size: 12px;
  	color: #453C7C;
  	font-weight: 600;
  	left: 20%;
  	top: -275px;
}

.about-resume-tech-excel {
	display: flex;
	align-items: center;
  	position: relative;
  	font-family: "futura-pt", sans-serif;
  	font-size: 12px;
  	color: #453C7C;
  	font-weight: 600;
	left: 20%;
	top: -270px;
}

/*HARD SKILLS*/

.about-resume-hard-container-one {
	display: flex;
	position: relative;
	align-content: center;
	align-items: flex-start;
	left: 50%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: -1150px;
	gap: 10px;
}

.about-resume-hard-container-two {
	display: flex;
	position: relative;
	align-content: center;
	align-items: flex-start;
	left: 65%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: -1360px;
	gap: 10px;
}

.hard-skills-deck-one {
	display: inline-block;
	align-content: center;
	justify-content: center;
	padding-top: 5px;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #453C7C;
	height: 40px;
	border: 2px solid #453C7C;
	border-radius: 21px;
	margin-top: 20px;
	padding: 10px;
}

.hard-skills-deck-two {
	display: inline-block;
	align-content: center;
	justify-content: center;
	padding-top: 5px;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #453C7C;
	height: 40px;
	border: 2px solid #453C7C;
	border-radius: 21px;
	margin-top: 20px;
	padding: 10px;
	left: 30%;
}

/*Soft Skills*/
.about-resume-soft-container-one {
	display: flex;
	position: relative;
	align-content: center;
	align-items: flex-start;
	left: 50%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: -1240px;
	gap: 10px;
}

.soft-skills-deck-one {
	display: inline-block;
	align-content: center;
	justify-content: center;
	padding-top: 5px;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #453C7C;
	height: 40px;
	border: 2px solid #453C7C;
	border-radius: 21px;
	margin-top: 20px;
	padding: 10px;
	left: 30%;
}

.about-resume-soft-container-two {
	display: flex;
	position: relative;
	align-content: center;
	align-items: flex-start;
	left: 63%;
	width: auto;
	height: auto;
	flex-direction: column;
	top: -1437px;
	gap: 10px;
}

.soft-skills-deck-two {
	display: inline-block;
	align-content: center;
	justify-content: center;
	padding-top: 5px;
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #453C7C;
	height: 40px;
	border-radius: 21px;
	border: 2px solid #453C7C;
	margin-top: 20px;
	padding: 10px;
	left: 30%;
}

/*Years*/
.about-resume-years {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 7px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
	height: 40px;
	width: 100px;
	border-radius: 21px;
	border: 2px solid #453C7C;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*About Star*/

.about-star-one {
	position: relative;
	z-index: -1;
	top: -2660px;
	left: 13%;
}

.about-star-two {
	position: relative;
	z-index: -1;
	top: -2100px;
	left: 13%;
}

.about-star-three {
	position: relative;
	z-index: -1;
	top: -2780px;
	left: 43%;
}

.about-star-four {
	position: relative;
	z-index: -1;
	top: -2340px;
	left: 43%;
}

.about-star-five {
	position: relative;
	z-index: -1;
	top: -1958px;
	left: 43%;
}

/* PORTFOLIO */
.portfolio {
	position: relative;
	left: 25%;
}

.branding-head {
	position: relative;
    width: auto;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
	z-index: -1;
}

.branding-title {
	position: relative;
	left: 25%;
	z-index: 1;
	top: 130px;
}

.portfolio-magazine-title {
	position: relative;
	font-family: "Futura pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
	font-size: 50px;
	z-index: 2;
	top: -1000px;
	left: 50px;
}

.portfolio-rect-one {
	position: relative;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	width: 750px;
	height: 800px;
	border-radius: 25px;
	left: 50%;
	top: 50px;
	z-index: -1;
}

.portfolio-rect-two {
	position: relative;
	background: linear-gradient(to left, #FFC0CB, #FFFFFF);
	width: 500px;
	height: 500px;
	border-radius: 25px;
	top: 80px;
	left: 5%;
	z-index: -1;
}

.portfolio-star {
	position: relative;
	z-index: 1;
	top: -1300px;
	left: 300px;
}

.portfolio-rect-white{
	position: relative;
	width: 800px;
	height: 700px;
	background-color: #FFFFFF;
	z-index: 2;
	top: -1800px;
	left: 600px;
	border-radius: 25px;
}

/* Portfolio Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  z-index: 10;
  top: -5000px;
  left: 20%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #F3005A;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* PORTFOLIO */
.portfolio-branding-title {
	position: relative;
	font-family: "Futura pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
	font-size: 50px;
	z-index: 2;
	top: -1550px;
	left: 700px;
}

.portfolio-star-one {
	position: relative;
	z-index: 1;
	top: -1900px;
	left: 300px;
}

/* Branding */
.portfolio-branding {
	position: relative;
	z-index: 2;
	top: -2400px;
	left: 100px;
}

.portfolio-logo {
	position: relative;
	z-index: 1;
	left: 75%;
	top: -2900px;
}

.portfolio-rect-white-two {
	display: flex;
	position: relative;
	z-index: -1;
	width: 700px;
	height: 600px;
	left: 50%;
	top: -2800px;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.portfolio-sticker {
	position: relative;
	z-index: 1;
	left: 58%;
	top: -3320px;
}

.graphic-design-head {
	position: relative;
    height: 100px;
	width: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex; 
    justify-content: center;
	z-index: -1;
	top: -3700px;
	float: left;
}

.portfolio-graphic-design-title {
	position: relative;
	z-index: 1;
	text-align: center;
	padding-top: 5px;
}

.portfolio-rect-white-three {
	position: relative;
	width: 770px;
	height: 600px;
	z-index: 1;
	background-color: #FFFFFF;
	border-radius: 25px;
	left: 6%;
	top: -3800px;
}

.portfolio-rect-three {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	width: 550px;
	height: 300px;
	z-index: -1;
	background: linear-gradient(to left, #FFC0CB, #FFFFFF);
	border-radius: 25px;
	top: -3400px;
	left: 60%;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-size: 50px;
	color: #453C7C;
	padding-top: 80px;
}

.portfolio-star-two {
	position: relative;
	z-index: -2;
	left: 50%;
	top: -4550px;
}

/* Portfolio-Exhibitions */
.portfolio-exhibtion-one {
	position: relative;
	z-index: 1;
	left: 30%;
	top: -5140px;
}

.portfolio-exhibtion-statement {
	position: relative;
	z-index: 1;
	left: 8%;
	top: -5615px;
}

.portfolio-rect-four {
	position: relative;
	z-index: -3;
	background: linear-gradient(to left, #FFC0CB, #FFFFFF);
	width: 800px;
	height: 900px;
	border-radius: 25px;
	left: 45%;
	top: -5700px;
}

.portfolio-rect-white-four {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: -2;
	background-color: #FFFFFF;
	width: 700px;
	height: 600px;
	border-radius: 25px;
	top: -6400px;
	left: 50%;
}

.portfolio-exhibition-pamphlet {
	position: relative;
	z-index: 1;
	left: 53%;
	top: -6940px;
}

.portfolio-image-pamphlet {
	position: relative;
	z-index: 1;
	left: 10%;
	top: -7450px;
}

.portfolio-star-three {
	position: relative;
	z-index: -1;
	left: 32%;
	top: -7930px;
}

.portfolio-rect-five {
	position: relative;
	z-index: -3;
	left: 5%;
	top: -7700px;
	width: 750px;
	height:600px;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	border-radius: 25px;
}

.portfolio-exhibition-pamphlet-two {
	position: relative;
	z-index: 1;
	top: -8230px;
	left: 10%;
}

.portfolio-rect-white-five {
	position: relative;
	z-index: -2;
	top: -8600px;
	left: 60%;
	background-color: #FFFFFF;
	width: 560px;
	height: 700px;
	border-radius: 25px;
}

.portfolio-image-pamphlet-two {
	position: relative;
	z-index: 2;
	top: -9260px;
	left: 61%;
}

.portfolio-image-pamphlet-three {
	position: relative;
	z-index: 2;
	top: -9230px;
	left: 61%;
}

.portfolio-star-four {
	position: relative;
	z-index: -3;
	top: -10000px;
	left: 30%;
}

.parent-container {
	position: relative;
}

.border-bottom {
	height: 200px;
	width: 100%;
	border-radius: 25px;
	background-color: #453C7C;
	margin-bottom: 10px;
}

/* EXHIBITIONS */
.exhibition-header-rect {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	width: 1000px;
	height: 300px;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	border-radius: 25px;
	border: 4px solid #FFFFFF;
	z-index: -1;
	left: 30%;
	top: 50px;
}

.exhibition-header {
	position: relative;
	left: 25%;
	z-index: 1;
	top: 70px;
}

.exhibition-star {
	position: relative;
	left: 82%;
	z-index: 1;
	top: -330px;
}

.exhibition-body {
	display: flex;
	position: relative;
	border-radius: 25px;
	border: 4px solid #FFFFFF;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	width: 1000px;
	height: 1500px;
	left: 13%;
	z-index: -1;
	top: 200px;
	margin: 0 auto;
	gap: 50px; /*to add a left margin*/
	padding-top: 50px;
}

.photo-column {
	display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 30%;
    flex-direction: column;
    z-index: 2;
}

.exhibition-photos {
	max-width: 300px;
	height: auto;
	margin: 50px;
	box-shadow: 7px 7px #FFFFFF;
}

.exhibition-star-one {
	position: relative;
	z-index: -2;
	left: 10%;
	top: -700px;
}

.exhibition-star-two {
	position: relative;
	z-index: -3;
	left: 8%;
	top: -2250px;
}

/* Exhibition Info */
.exhibition-body-copy {
	display: flex;
	position: relative;
	width: 400px;
	height: 1330px;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	border-radius: 25px;
	left: 65%;
	z-index: 1;
	top: -2350px;
	border: 4px solid #FFFFFF;
	flex-direction: column;
	padding-top: 70px;
}

.exhibition-info-one-title {
	font-family: "futura-pt", sans-serif;
	color: #453C7C;
	font-weight: 400;
}

.exhibition-info-one {
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
	font-size: 30px;
}

.exhibition-info-deck {
	font-family: "futura-pt", sans-serif;
	font-weight: 500;
	color: #453C7C;
	font-size: 20px;
	margin-bottom: 200px;
}

.exhibition-info-one-title,
.exhibition-info-one,
.exhibition-info-deck {
	position: relative;
	margin-right: 20px;
	text-align: right;
}

.exhibition-body-star-one {
	position: relative;
	left: 67%;
	z-index: 2;
	top: -3550px;
}

.exhibition-body-star-two {
	position: relative;
	left: 67%;
	z-index: 2;
	top: -3300px;
}

.exhibition-body-star-three {
	position: relative;
	left: 67%;
	z-index: 2;
	top: -3030px;
}

.exhibition-body-star-four {
	position: relative;
	left: 67%;
	z-index: 2;
	top: -2780px;
}

/* Years */
.exhibition-years-one {
	display: flex;
	position: relative;
	z-index: 3;
	left: 56%;
	top: -3850px;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #453C7C;
	align-content: center;
	justify-content: center;
	padding-top: 12px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
}

.exhibition-years-two {
	display: flex;
	position: relative;
	z-index: 3;
	left: 56%;
	top: -3600px;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #453C7C;
	align-content: center;
	justify-content: center;
	padding-top: 12px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
}

.exhibition-years-three {
	display: flex;
	position: relative;
	z-index: 3;
	left: 56%;
	top: -3340px;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #453C7C;
	align-content: center;
	justify-content: center;
	padding-top: 12px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
}

.exhibition-years-four {
	display: flex;
	position: relative;
	z-index: 3;
	left: 56%;
	top: -3050px;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #453C7C;
	align-content: center;
	justify-content: center;
	padding-top: 12px;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	color: #453C7C;
}

/*CONTACT*/

/*Rainbow*/
.fade-out-element {
	position: relative;
	z-index: -2;
	top: -360px;
	left: 0px;
}

.Contact-header-rect {
	position: relative;
	display: flex;
	width: 1000px;
	height: 300px;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	border-radius: 25px;
	margin-top: 50px;
	float: right;
	justify-content: center;
	align-content: center;
}

.contact-img-container {
    display: flex;
    position: relative;
    width: 370px; 
    height: 400px; 
    border-radius: 25px; 
    background-color: #FFFFFF;
    box-shadow: 5px 5px #453C7C; 
    z-index: 1;
    top: -1200px;
    left: 15%;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

.contact-img-rect {
  position: relative;
}

.contact-img-rect img {
    display: block; 
}

.contact-cover-letter,
.contact-email,
.contact-resume {
	position: relative;
	top: -1450px;
	left: 50%;
}

.contact-body-rect {
	position: relative;
	z-index: -1;
	width: 800px;
	height: 500px;
	border-radius: 25px;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	left: 20%;
	border: 4px solid #FFFFFF;
	top: -1900px;
}

.email-container {
	position: relative;
	display: flex;
	width: 700px;
	height: 700px;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to left, #FFFFFF, #FFC0CB);
	border-radius: 25px;
	border: 4px solid #FFFFFF;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #453C7C;
	margin: auto;
	flex-direction: column;
	top: -1750px;
}

.contact-header {
	padding-top: 30px;
	display: flex;
	position: relative;
	font-family: "futura-pt";
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	color: #453C7C;
}

form {
    width: 80%;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #453C7C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
    background-color: #FFC0CB ;
}


.custom-shape-divider-bottom-1713550638 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713550638 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
	z-index: 9999;
}

.custom-shape-divider-bottom-1713550638 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 306px;
}

.custom-shape-divider-bottom-1713550638 .shape-fill {
    fill: #453C7C;
}

.contact-star-one {
	position: relative;
	z-index: -2;
	left: -8%;
	transform: rotate(180deg);
	top: -2450px;
}

.contact-star-two {
	position: relative;
	z-index: -2;
	left: 10%;
	top: -2700px;
}